$bcolor: cyan;
$borderwidth: 2px;
$bordercolor: brown;
$borderstyle: solid;
$h3color: red;
$pcolor: rgb(27, 185, 27);
$size: 30px;
$flexwidth: 0.33;
$outermargin: 10%;
$tablet: "(min-width: 768px) and (max-width: 1023px) and (orientation: landscape)";
$mobile: "(max-width: 768px) and (orientation: landscape)";
